.navy {
    background-color: #455BE8;
}
.red {
    background-color: #E83222;
}
.green {
    background-color: #B3FF32;
}
.blue {
    background-color: #25ADFF;
}
.brown {
    background-color: #DE8554;
}
.black {
    background-color: #423F35;
}
